@import "bootstrap";


.sign-up {
  margin-top: 20vh;
}

.sign-up-background {
  background: url("nature.jpg");
  background-size: cover;
  height: 100%;
  position: relative;
}

.sign-up-link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}